#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 5px;
}

#friends-display-link i {
    color: #2e363e;
    padding-left: 10px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}