.nav {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

a {
    color:inherit;
    text-decoration: none;
}

.nav__link {
    position:relative;
    color: #2e363e;
}

.nav__notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position:absolute;
    left:20px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    width:10px;
    height: 10px;
    display: flex;
    border-radius: 5px;
    position: absolute;
    left: 35px;
    bottom: 25px;
}